<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarVehiculos(input.value)" type="text" class="form-control" placeholder="Buscar vehiculo....">


            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button [routerLink]="['/vehiculo','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                  <i class="fa fa-plus"> Crear Vehiculo</i>
                </button>
                </div>

                <h3 class="card-title">Vehiculos registrados ( <small>{{_vehiculoService.totalVehiculos}}</small> )</h3>

                <table class="table table-hover" *ngIf="!cargando">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Placa</th>
                            <th>Marca</th>
                            <th>SOAT</th>
                            <th>Propietario</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vehiculo of vehiculos">
                            <td class="w70">
                                <img (click)="mostrarModal(vehiculo._id)" [src]="vehiculo.img | imagen:'vehiculo'" class="img-50 img-circle pointer">
                            </td>
                            <td>{{vehiculo.placa}}</td>
                            <td>{{vehiculo.marca}}</td>
                            <td>{{vehiculo.vencimientoSOAT | date}}</td>
                            <td>{{vehiculo.tercero.razonSocial}}</td>
                            <td>
                                <button [routerLink]="['/vehiculo',vehiculo._id]" routerLinkActive="router-link-active" class="btn btn-primary">
                          <i class="fa fa-edit"></i>
                        </button>
                                <button (click)="borrarVehiculo(vehiculo)" class="btn btn-danger">
                          <i class="fa fa-trash"></i>
                        </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarInicio(-5)" class="btn btn-secondary">Anteriores</button>
                <button (click)="cambiarInicio(5)" class="btn btn-secondary">Siguientes</button>

            </div>
        </div>
    </div>
</div>